* {
    box-sizing: border-box
}

.module-wrapper {
    text-align: left;
    float: left;
    width: 90%;
    font-size: 18px;
    text-shadow: 2px 9px 7px #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 1%;
    margin-left: .2%;
    border: 1px solid rgba(208, 205, 205, 0.399);
    padding: 10px;
    background: linear-gradient(rgba(140, 164, 199, 0.687), rgba(72, 120, 191, 0.687));
}

.info-display-wrapper {
    width: 50%;
    font-weight: 800;
    text-shadow: 2px 3px 5px #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.info-display-wrapper label {
    display: block;
    margin-bottom: 10px;
    width: 50%;
}

.info-display-wrapper label>span {
    float: left;
    width: 50%;

}

.info-display-wrapper fieldset {
    width: 50%;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 2px 0px;
    border: 1px solid rgba(209, 212, 222, 0.125);
    padding: 20px;
    background: linear-gradient(rgba(0, 97, 242, 0.687), rgba(171, 195, 232, 0.687));
}

.buttons {
    position: relative;
    width: 100%;
    padding: 1px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 1%;
}







