/NetBeansProjects/AnagramGame/nbproject/private/
/NetBeansProjects/JavaLibrary1/nbproject/private/
/NetBeansProjects/JavaApplication1/nbproject/private/
/NetBeansProjects/JavaApplication1/build/
/NetBeansProjects/JavaApplication2/nbproject/private/
/NetBeansProjects/HelloWorld/nbproject/private/
/NetBeansProjects/HelloWorld/dist/
/NetBeansProjects/HelloWorld/build/
/NetBeansProjects/InputDIalog/nbproject/private/
/NetBeansProjects/InputDialog/nbproject/private/
/NetBeansProjects/InputDialog/dist/
/NetBeansProjects/InputDialog/build/
/NetBeansProjects/InputDialog2/nbproject/private/
/NetBeansProjects/JOptionPaneShowInputDialogExample1/nbproject/private/
/NetBeansProjects/JOptionPaneShowInputDialogExample1/dist/
/NetBeansProjects/JOptionPaneShowInputDialogExample1/build/
/NetBeansProjects/Hello/nbproject/private/
/NetBeansProjects/Hello/build/
/NetBeansProjects/HTML5Application/nbproject/private/
/NetBeansProjects/ListDirectory/nbproject/private/
/NetBeansProjects/AngularJSPhoneCat/nbproject/private/
/NetBeansProjects/HTML5Application1/nbproject/private/
/NetBeansProjects/HTML5Application2/nbproject/private/