body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('./img/justiceBlueBackground.jpg');
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
