.head-class {
    /* background-color: #666666; */
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 2px 3px 5px rgba(227, 227, 227, 0.879);
}

h3 {
    color: ivory;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 2px 9px 7px rgb(19, 19, 19);
    padding-left: .3%;
}