
.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 750px;
    
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 5px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2px;
    outline: none;
    border: 1px solid #B0CFE0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

.form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
    width: 29%;
}

.powerConsumption form-style-9 ul li .field-full {
    width: 10%;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    margin-left: 4px;
    float: left;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.addModule-button-wrapper {
    position: relative;
    width: 25%;
    padding: 1px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
}
