.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

#header1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

#header2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

#header3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: rgba(247, 248, 248, 0.87);
  margin: 0;
  padding: 0;
}
.greeting-item {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.navigation {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100px;
  background: url('../img/header-bg.png');
  text-shadow: 0 1px 0 rgb(65, 65, 65), 0 2px 0 #292929, 0 3px 0 rgb(0, 0, 0), 0 4px 0 #22222290, 0 5px 0 rgb(69, 68, 68), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 5px 5px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  position: fixed;
}
.brand {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.5em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
  font-weight: bold;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  font-size: 1.3em;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  text-shadow: 0 1px 0 rgb(18, 18, 18), 0 2px 0 #292929, 0 3px 0 rgb(9, 9, 9), 0 4px 0 #1f1f1f, 0 5px 0 rgb(69, 68, 68), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
    background: url('../img/header-bg.png');
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.about-content {
  padding: 1%;
}
@media screen and (max-width: 798px) {
  .flex-center {
    display: block;
  }
  body {
    background: url('../img/slide3.jpg') fixed;
  }
}
hr {
  border-color: rgb(13, 36, 238);
  border-width: 1px;
  max-width: 50px;
}
hr.light {
  border-color: rgb(253, 253, 253);
  border-width: 1px;
  max-width: 50px;
}
.slide1-overlay {
    background: url('../img/header-bg.png');
    height: 850px;
}
#slide1 {
  font-family: 'Ubuntu', sans-serif;
  background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 950px;
  margin: 0;
  padding: 100px 0 260px 0;
  background-size: cover;
  	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.slide2-overlay {
    height: 550px;
    padding-top: 100px;
}
#slide2 {
  font-family: 'Ubuntu', sans-serif;
  background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 1100px;
  margin: 0;
  padding: 0px 0 306px 0;
  background-color: #5b708b;
  background-size: cover;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* IE9, iOS 3.2+ */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDQ3YWMxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1YjViNWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc2OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==');
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(68, 122, 193)),color-stop(0.769, rgb(91, 91, 91)),color-stop(1, rgb(169, 169, 169)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff447ac1",endColorstr="#ffa9a9a9",GradientType=0);
  }
}
.slide3-overlay {
    background: url('../img/header-bg.png');
    height: 1100px;
    padding-top: 125px;
}
#slide3 {
  font-family: 'Ubuntu', sans-serif;
  background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 800;
  margin: 0;
  /* padding: 150px 0 260px 0; */
  background-size: cover;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
#slide4 {
    font-family: 'Ubuntu', sans-serif;
    background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 800px;
    margin: 0;
    padding: 125px 0 306px 0;
    background-color: #5b708b;
    background-size: cover;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /* IE9, iOS 3.2+ */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDQ3YWMxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1YjViNWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc2OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==');
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(68, 122, 193)),color-stop(0.769, rgb(91, 91, 91)),color-stop(1, rgb(169, 169, 169)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(68, 122, 193) 0%,rgb(91, 91, 91) 76.9%,rgb(169, 169, 169) 100%);
}
.gallery {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}
.gallery div {
  display: inline-block;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  .gallery {
    width: 1170px;
  }
}
#projects {
  text-align: center;
}
/* Add Animation */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.modal-thumb:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }


.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modalDialog {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog>div {
  position: relative;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  margin: auto;
  display: block;
  width: 80%;
  height: 90%;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
img {
  border-radius: 10px;
}
.close {
  z-index: 99999;
  opacity: 0;
  background: #00d9ff;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
/* The Close Button */
.close-btn {
  background: #00d9ff;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 0 1px 0 rgb(237, 234, 234), 0 2px 0 #c9c8c8, 0 3px 0 rgb(179, 177, 177), 0 4px 0 #cbcaca, 0 5px 0 rgb(216, 214, 214);
}
#close-btn:hover,
#close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .slide1-overlay {
        background: rgba(176, 177, 179, 0.1);
    }
  #slide1 {
    background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
    background: rgba(176, 177, 179, 0.575);
    height: 800px;
    padding: 100px 0 306px 0;
    background-size: cover;
  }
  #slide2 {
      height: 1300px;
  }
  .slide3-overlay {
    background: rgba(176, 177, 179, 0.1);
}
  #slide3 {
    background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
    background: rgba(176, 177, 179, 0.575);
    height: 1800px;
    padding: 0px 0 406px 0;
    background-size: cover;
  }
  .slide4-overlay {
    background: rgba(176, 177, 179, 0.1);
}
 #slide4 {
    padding: 250px 0 260px 0;
 }
  .modal-content {
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
  }
  .modalDialog {
    display: block;
    width: 100%;
    height: 100%;
  }
  .modalDialog>div {
    padding-top: 3%;
    width: 87%;
    height: 70%;
    padding-bottom: 5%;
  }
  .row {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
.glyphicon-wrapper {
  font-size: 2.5em;
  color: #5e98e4;
}
.glyphicon-wrapper-nav {
  font-size: 1.0em;
  color: #5e98e4;
}
button {
  border-top: 1px solid #96d1f8;
  background-color: rgba(191, 200, 216, 0.671);
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #8E9EAF);
  background: -moz-linear-gradient(top, #3e779d, #8E9EAF);
  background: -ms-linear-gradient(top, #3e779d, #8E9EAF);
  background: -o-linear-gradient(top, #3e779d, #8E9EAF);
  padding: 13px 26px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgb(18, 18, 18), 0 2px 0 #292929, 0 3px 0 rgb(9, 9, 9), 0 4px 0 #1f1f1f, 0 5px 0 rgb(69, 68, 68), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
.btn-wrapper {
  text-align: center;
  margin: 0;
  padding: 1%;
}
.contact-items-wrapper {
  border-top: 1px solid #96d1f8;
  background-color: rgba(191, 200, 216, 0.671);
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #9cd5fc, rgb(171, 174, 177));
  background: -moz-linear-gradient(top, #9cd5fc, rgb(171, 174, 177));
  background: -ms-linear-gradient(top, #9cd5fc, rgb(171, 174, 177));
  background: -o-linear-gradient(top, #3e779d, rgb(171, 174, 177));
  padding: 13px 26px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}
.modal-content-resume {
    margin: auto;
    display: block;
    height: 100%;
  }
  .modalDialog-resume{
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    padding-bottom: 5%;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .modalDialog-resume:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog-resume>div {
    position: relative;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    display: block;
    width: 97%;
    height: 100%;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }