.form-textbox {
    font-size: 2em;
}

h1 {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 3px 3px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 9px 10px rgba(0, 0, 0, 0.1);
}

.formWrapper {
    display: flex;
    /* justify-content: center; */
    margin: 0;
    flex-wrap: wrap;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-style-3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-3 label {
    display: block;
    margin-bottom: 10px;
}

.form-style-3 label>span {
    float: left;
    width: 100px;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: linear-gradient(ivory, rgb(223, 222, 222));
}