.app-wrapper {
    padding-top: 15%;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    background: url('./img/postIt.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App {
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 26px;
    color: ivory;
    text-shadow: 0 1px 0 rgb(18, 18, 18), 0 2px 0 #292929, 0 3px 0 rgb(9, 9, 9), 0 4px 0 #1f1f1f, 0 5px 0 rgb(69, 68, 68), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

  }
  
  input {
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .reminder-form {
    padding: 5
  }
  
  .list-item {
    display: inline-block;
  }
  
  .delete-button {
    float: right;
    padding-left: 5px;
  }

  Button {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 1px 0 rgb(18, 18, 18), 0 1px 0 #292929, 0 1px 0 rgb(9, 9, 9), 0 4px 0 #1f1f1f, 0 5px 0 rgb(69, 68, 68), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

  }